{% extends "two_col_page.twig" %}
{% from "macros/common.twig" import card_begin, card_end, user, follow_user_link %}

{% block left_col_content %}
{{ card_begin("Profile") }}
    {{ user(data.user) }}
{{ card_end() }}
{{ card_begin("Actions") }}
    {% if data.isSelf %}
        <a href="/cpanel" class="action">
            <span class="actionSprite cpanel"></span>
            <span class="actionText">Change your settings</span>
        </a>
        <a href="?edit=1" class="action">
            <span class="actionSprite paintbrush"></span>
            <span class="actionText">Edit your profile</span>
        </a>
        <a href="/cpanel/description" class="action">
            <span class="actionSprite compose"></span>
            <span class="actionText">Edit your description</span>
        </a>
    {% else %}
        {{ follow_user_link(data.user.id, data.isFollowing) }}
    {% endif %}
{{ card_end() }}
{% if data.followerCount > 0 %}
    {{ card_begin("Followers (" ~ data.followerCount ~ ")") }}
        {% for follower in data.followers %}
            <a href="/user/{{ follower.username }}" class="{{ [
                'userIcon',
                'small',
                'grid',
                ((loop.index % 4) == 1) ? 'first' : '',
                ((loop.index % 4) == 2) ? 'second' : '',
                ((loop.index % 4) == 3) ? 'third' : '',
                (loop.index >= (loop.length - 3)) ? 'lastRow' : '',
            ]|join(' ') }}" title="{{ follower.username }}">
                <img src="{{ follower.avatarUrl }}" alt="{{ follower.username }}">
            </a>
        {% endfor %}
    {{ card_end() }}
{% endif %}
{% if data.followingCount > 0 %}
    {{ card_begin("Following (" ~ data.followingCount ~ ")") }}
        {% for follower in data.following %}
            <a href="/user/{{ follower.username }}" class="{{ [
                'userIcon',
                'small',
                'grid',
                ((loop.index % 4) == 1) ? 'first' : '',
                ((loop.index % 4) == 2) ? 'second' : '',
                ((loop.index % 4) == 3) ? 'third' : '',
                (loop.index >= (loop.length - 3)) ? 'lastRow' : '',
            ]|join(' ') }}" title="{{ follower.username }}">
                <img src="{{ follower.avatarUrl }}" alt="{{ follower.username }}">
            </a>
        {% endfor %}
    {{ card_end() }}
{% endif %}
{% endblock %}

{% block right_col_content %}
{{ card_begin("Description") }}
    {% if data.description %}
    <div class="userText">{{ data.description|keepspace }}</div>
    {% else %}
    <i>No description available.</i>
    {% endif %}
{{ card_end() }}
{% endblock %}