{% extends "two_col_page.twig" %}
{% from "macros/common.twig" import card_begin, card_end, user %}

{% block left_col_content %}
{{ card_begin("Profile") }}
    {{ user(data.user) }}
{{ card_end() }}
{% endblock %}

{% block right_col_content %}
{{ card_begin("Description") }}
    {% if data.description %}
    <div class="userText">{{ data.description|keepspace }}</div>
    {% else %}
    <i>No description available.</i>
    {% endif %}
{{ card_end() }}
{% endblock %}