{% macro card_begin(title) %}
<div class="card">
    <div class="cardHeader">{{ title }}</div>
    <div class="cardContent">
{% endmacro %}

{% macro card_end() %}
    </div>
</div>
{% endmacro %}

{% macro post(data) %}
<div class="post clearfix">
    <a href="/post/1" class="postThumb">
        <img src="{{ custodesk.vfl.resolveImage("post-thumb") }}">
    </a>
    <div class="postDetails">
        <div class="postType">Wallpaper</div>
        <a href="/post/1" class="postTitle">Example post</a>
        <div class="postAuthor">By: <a href="/user/1">aubymori</a></div>
        <div class="postTags">
            Tags:
            <a href="/tag/hi">hi</a>,
            <a href="/tag/bye">bye</a>
        </div>
        <div class="postTime">Submitted: 1/1/1970 12:00 AM</div>
        <div class="postEditTime">Updated: 1/1/1970 12:00 AM</div>
        <div class="postRating">
            <div class="star full"></div>
            <div class="star full"></div>
            <div class="star half"></div>
            <div class="star empty"></div>
            <div class="star empty"></div>
            <span>5 ratings</span>
        </div>
    </div>
</div>
{% endmacro %}

{% macro user(data) %}
<div class="user clearfix">
    <a href="/user/{{ data.id }}" class="userIcon">
        <img src="{{ data.avatarUrl }}">
    </a>
    <div class="userDetails">
        <a href="/user/{{ data.id }}" class="userName">{{ data.username }}</a>
        <div class="userRole">{{ data.role }}</div>
        <div class="userTime">Joined {{ custodesk.time.formatDate(data.createdAt) }}</div>
    </div>
</div>
{% endmacro %}

{% macro subnav(items) %}
{% for item in items %}
    {% set icon = item[0] %}
    {% set name = item[1] %}
    {% set subpage = item[2] %}
    {% set url = item[3] %}
    
    {% set selected = (data.subpage == subpage) %}

    {% if selected %}
    <span class="action selected">
    {% else %}
    <a href="{{ url }}" class="action">
    {% endif %}
        {% if icon %}
        <span class="actionSprite {{ icon }}"></span>
        {% endif %}
        <span class="actionText">{{ name }}</span>
    {% if selected %}
    </span>
    {% else %}
    </a>
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro rich_edit(source) %}
{{ custodesk.modules.add("richEdit") }}
<div id="richEdit">
    <div id="richEditChoices">
        <input type="radio" id="richEditChoice-bbcode" name="rich_edit_choice" value="bbcode">
        <label for="richEditChoice-bbcode">BBCode</label>
        <input type="radio" id="richEditChoice-markdown" name="rich_edit_choice" value="markdown">
        <label for="richEditChoice-markdown">Markdown</label>
        <input type="radio" id="richEditChoice-html" name="rich_edit_choice" value="html">
        <label for="richEditChoice-html">HTML</label>
    </div>
    <div id="richEditFormats">
        <button id="richEditFormat-bold" title="Bold">
            <div class="sprite"></div>
        </button>
        <button id="richEditFormat-italic" title="Italic">
            <div class="sprite"></div>
        </button>
        <button id="richEditFormat-underline" title="Underline">
            <div class="sprite"></div>
        </button>
        <button id="richEditFormat-strikethrough" title="Strikethrough">
            <div class="sprite"></div>
        </button>
    </div>
    <textarea name="rich_edit_text" id="richEditText">{{ source }}</textarea>
</div>
{% endmacro %}