{% macro card_begin(title) %}
<div class="card">
    <div class="cardHeader">{{ title }}</div>
    <div class="cardContent">
{% endmacro %}

{% macro card_end() %}
    </div>
</div>
{% endmacro %}

{% macro post(data) %}
<div class="post clearfix">
    <a href="/post/1" class="postThumb">
        <img src="{{ custodesk.vfl.resolveImage("postThumb") }}">
    </a>
    <div class="postDetails">
        <div class="postType">Wallpaper</div>
        <a href="/post/1" class="postTitle">Example post</a>
        <div class="postAuthor">By: <a href="/user/aubymori">aubymori</a></div>
        <div class="postTags">
            Tags:
            <a href="/tag/hi">hi</a>,
            <a href="/tag/bye">bye</a>
        </div>
        <div class="postTime">Submitted: 1/1/1970 12:00 AM</div>
        <div class="postEditTime">Updated: 1/1/1970 12:00 AM</div>
        <div class="postRating">
            <div class="star full"></div>
            <div class="star full"></div>
            <div class="star half"></div>
            <div class="star empty"></div>
            <div class="star empty"></div>
            <span>5 ratings</span>
        </div>
    </div>
</div>
{% endmacro %}

{% macro user(data) %}
<div class="user clearfix">
    <a href="/user/{{ data.username }}" class="userIcon">
        <img src="{{ data.avatarUrl }}">
    </a>
    <div class="userDetails">
        <a href="/user/{{ data.username }}" class="userName">{{ data.username }}</a>
        <div class="userRole">{{ data.role.toString() }}</div>
        <div class="userTime">Joined {{ custodesk.time.formatDate(data.createdAt) }}</div>
    </div>
</div>
{% endmacro %}

{% macro subnav(items) %}
{% for item in items %}
    {% set icon = item[0] %}
    {% set name = item[1] %}
    {% set subpage = item[2] %}
    {% set url = item[3] %}
    
    {% set selected = (data.subpage == subpage) %}

    {% if selected %}
    <span class="action selected">
    {% else %}
    <a href="{{ url }}" class="action">
    {% endif %}
        {% if icon %}
        <span class="actionSprite {{ icon }}"></span>
        {% endif %}
        <span class="actionText">{{ name }}</span>
    {% if selected %}
    </span>
    {% else %}
    </a>
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro rich_edit_btn(id, title) %}
<button id="richEditFormat-{{ id }}" title="{{ title }}"><div class="sprite"></div></button>
{% endmacro %}

{% macro rich_edit(height = 150) %}
{{ custodesk.modules.add("richEdit") }}
<div id="richEdit">
    <div id="richEditChoices">
        {% if data.rich_edit_choice %}
            {% set choice = data.rich_edit_choice %}
        {% else %}
            {% set choice = custodesk.getRichEditChoice() %}
        {% endif %}
        <input type="radio" id="richEditChoice-bbcode" name="rich_edit_choice" value="bbcode" {{ choice == "bbcode" ? "checked" }}>
        <label for="richEditChoice-bbcode">BBCode</label>
        <input type="radio" id="richEditChoice-markdown" name="rich_edit_choice" value="markdown" {{ choice == "markdown" ? "checked" }}>
        <label for="richEditChoice-markdown">Markdown</label>
    </div>
    <div id="richEditFormats">
        {{ _self.rich_edit_btn("bold",              "Bold (Ctrl+B)") }}
        {{ _self.rich_edit_btn("italic",            "Italic (Ctrl+I)") }}
        {{ _self.rich_edit_btn("underline",         "Underline (Ctrl+U)") }}
        {{ _self.rich_edit_btn("strikethrough",     "Strikethrough") }}
        {{ _self.rich_edit_btn("color",             "Text color") }}
        <span class="richEditFormat-gap"></span>
        {{ _self.rich_edit_btn("sub",               "Subscript (Ctrl+=)") }}
        {{ _self.rich_edit_btn("sup",               "Superscript (Ctrl+Shift++)") }}
        <span class="richEditFormat-gap"></span>
        {{ _self.rich_edit_btn("h1",                "Header 1") }}
        {{ _self.rich_edit_btn("h2",                "Header 2") }}
        {{ _self.rich_edit_btn("h3",                "Header 3") }}
        <span class="richEditFormat-gap"></span>
        {{ _self.rich_edit_btn("quote",             "Quote") }}
        {{ _self.rich_edit_btn("spoiler",           "Spoiler") }}
        {{ _self.rich_edit_btn("code",              "Inline code") }}
        {{ _self.rich_edit_btn("pre",               "Code") }}
        {{ _self.rich_edit_btn("link",              "Link") }}
        {{ _self.rich_edit_btn("img",               "Image") }}
        <span class="richEditFormat-gap"></span>
        {{ _self.rich_edit_btn("ul",                "Bullet list") }}
        {{ _self.rich_edit_btn("ol",                "Numbered list") }}
    </div>
    <div id="richEditForm-color" class="richEditForm">
        <table><tbody>
            <tr>
                <td><span>Color:</span></td>
                <td><input type="text" id="richEditForm-colorColor" data-name="color"></td>
                <td>
                    <button id="richEditForm-colorPick">Pick</button>
                    <input type="color" id="richEditForm-pickedColor" style="display:none">
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button class="richEditForm-insert">Insert</button></td>
            </tr>
        </tbody></table>
    </div>
    <div id="richEditForm-link" class="richEditForm">
        <table><tbody>
            <tr>
                <td><span>Text:</span></td>
                <td><input type="text" data-name="text"></td>
            </tr>
            <tr>
                <td><span>URL:</span></td>
                <td><input type="text" data-name="url"></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="richEditForm-insert">Insert</button></td>
            </tr>
        </tbody></table>
    </div>
    <div id="richEditForm-img" class="richEditForm">
        <table><tbody>
            <tr>
                <td><span>URL:</span></td>
                <td><input type="text" data-name="url"></td>
            </tr>
            <tr>
                <td><span>Alt text:</span></td>
                <td><input type="text" data-name="alt"></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="richEditForm-insert">Insert</button></td>
            </tr>
        </tbody></table>
    </div>
    <textarea name="rich_edit_text" id="richEditText" style="height:{{ height }}px">{{ data.rich_edit_source|keepspace }}</textarea>
</div>
{% endmacro %}