{% apply spaceless %}
{% import "macros/core.twig" as core %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CustoDesk{{ data.title ? ": " ~ data.title }}</title>
		<link rel="shortcut icon" href="{{ custodesk.vfl.resolveImage("favicon") }}" type="image/png">
		{{ core.js("core") }}
		{% block js %}{% endblock %}
        {{ core.css("core") }}
		{% block css %}{% endblock %}
    </head>
    <body>
		<div id="headerArea">
			<a id="headerLogo" href="/"></a>
			<div id="linksBar">
				<a href="/search?type=post&amp;category=resource">Resources</a>
				<a href="/search?type=post&amp;category=tutorial">Tutorials</a>
				<a href="/search?type=post&amp;category=wallpaper">Wallpapers</a>
				<a href="/search?type=post&amp;category=screenshot">Screenshots</a>
				<div id="accountActions">
					{% if custodesk.isLoggedIn() %}
					<a href="/user/1" id="accountLink" onclick="toggleMenu('accountMenu', event)">aubymori</a>
					<div id="accountMenu" class="menu">
						<a href="/user/1">Profile</a>
						<a href="/new">Create post</a>
						<a href="/logout">Log out</a>
					</div>
					{% else %}
					<a href="/register">Register</a>
					<span>or</span>
					<a href="/login">Log in</a>
					{% endif %}
				</div>
			</div>
		</div>

		<div id="alerts">
			{% for alert in data.alerts %}
			<div class="alert {{ alert.type }}">
				<div class="alert-text">{{ alert.text }}</div>
			</div>
			{% endfor %}
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>

		<div id="footer">
			© 2026 CustoDesk. All rights reserved.<br>
			Page rendered in {{ custodesk.getRenderTime() }} seconds
		</div>
    </body>
</html>
{% endapply %}
