{% apply nospace %}
{% import "macros/core.twig" as core %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CustoDesk{{ data.title ? ": " ~ data.title }}</title>
		<link rel="shortcut icon" href="{{ custodesk.vfl.resolveImage("favicon") }}" type="image/png">
        {{ core.css("core") }}
		{% block css %}{% endblock %}
    </head>
    <body>
		<div id="headerArea">
			<a id="headerLogo" href="/"></a>
			<div id="linksBar">
				<a href="/search?type=post&amp;category=resource">Resources</a>
				<a href="/search?type=post&amp;category=tutorial">Tutorials</a>
				<a href="/search?type=post&amp;category=wallpaper">Wallpapers</a>
				<a href="/search?type=post&amp;category=screenshot">Screenshots</a>
				<div id="accountActions">
					{% if custodesk.session.isLoggedIn() %}
					<a href="/user/{{ custodesk.session.getUsername() }}" id="accountLink" onclick="custodesk.toggleMenu('accountMenu', event)">{{ custodesk.session.getUsername() }}</a>
					<div id="accountMenu" class="menu">
						<a href="/user/{{ custodesk.session.getUsername() }}">Profile</a>
						<a href="/new">Create post</a>
						<a href="/logout">Log out</a>
					</div>
					{% else %}
					<a href="/register">Register</a>
					<span>or</span>
					<a href="/login">Log in</a>
					{% endif %}
				</div>
			</div>
		</div>

		<div id="alerts">
			{% for alert in data.alerts %}
			<div class="alert alert{{ alert.type.value }}">
				<div class="alertText">{{ alert.text|raw }}</div>
			</div>
			{% endfor %}
			{% for error in data.errors %}
			<div class="alert alert{{ error.alertType.value }}" style="font-weight: 400; text-align: left">
				<div class="alertText">
					<b>{{ error.typeStr }}</b>: {{ error.message }}<br>
					In {{ error.file }}:{{ error.line }}
				</div>
			</div>
			{% endfor %}
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>

		<div id="footer">
			© 2026 CustoDesk. All rights reserved.<br>
			Page rendered in {{ custodesk.getRenderTime() }} seconds
		</div>

		{{ core.js("core") }}
		{% for module in custodesk.modules.get() %}
		{{ core.js(module) }}
		{% endfor %}
    </body>
</html>
{% endapply %}