{% extends "two_col_page.twig" %}
{% import "macros/core.twig" as core %}
{% from "macros/common.twig" import card_begin %}
{% from "macros/common.twig" import card_end %}
{% from "macros/common.twig" import post %}
{% from "macros/common.twig" import user %}

{% block css %}
{{ core.css("home") }}
{% endblock %}

{% block left_col_content %}
{{ card_begin("You are logged in as") }}
    {{ user(data.user) }}
{{ card_end() }}
{{ card_begin("Control Panel") }}
    <span class="action selected">
        <div class="actionSprite profile"></div>
        <span class="actionText">Account</span>
    </span>
{{ card_end() }}
{% endblock %}

{% block right_col_content %}

{% endblock %}