{% extends "two_col_page.twig" %}
{% import "macros/core.twig" as core %}
{% from "macros/common.twig" import card_begin %}
{% from "macros/common.twig" import card_end %}
{% from "macros/common.twig" import post %}
{% from "macros/common.twig" import user %}

{% block css %}
{{ core.css("home") }}
{% endblock %}

{% block left_col_content %}
{% if custodesk.session.isLoggedIn() %}
{{ card_begin("You are logged in as") }}
    {{ user(data.user) }}
{{ card_end() }}
{{ card_begin("Actions") }}
    <a href="/user/{{ custodesk.session.getUsername() }}" class="action">
        <div class="actionSprite profile"></div>
        <span class="actionText">View your profile</span>
    </a>
    <a href="/inbox" class="action">
        <div class="actionSprite mail"></div>
        <span class="actionText">View your inbox</span>
    </a>
    <a href="/new" class="action">
        <div class="actionSprite compose"></div>
        <span class="actionText">Create a new post</span>
    </a>
    <a href="/cpanel" class="action">
        <div class="actionSprite cpanel"></div>
        <span class="actionText">Change your settings</span>
    </a>
{{ card_end() }}
{% else %}
{{ card_begin("Log in") }}
    <form action="/login" method="post" id="loginForm">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="username">Username:</label>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" name="username" required=""></td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                </tr>
                <tr>
                    <td><input type="password" name="password" required=""></td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="remember" id="remember">
			            <label for="remember">Remember me</label>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Log in"></td>
                </tr>
            </tbody>
        </table>
    </form>
{{ card_end() }}
{% endif %}

{{ card_begin("Search") }}
    <form action="/search" id="searchForm">
        <table>
            <tbody>
                <tr>
                    <td style="width: 100%"><input type="text" name="q" id="searchQuery"></td>
                    <td><input type="submit" value="Go"></td>
                </tr>
            </tbody>
        </table>
    </form>
{{ card_end() }}

{{ card_begin("News") }}
    <div id="newsTitle">Welcome to CustoDesk!</div>
    <div id="newsAuthor">By: <a href="/user/aubymori">aubymori</a></div>
    <div id="newsTime">Posted: 1/1/1970 12:00 AM</div>
    <div id="newsText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus scelerisque nulla, egestas pretium nisl ornare non. Quisque sodales dignissim eros...
    </div>
    <a href="/post/1" id="newsLink">Read more &gt;&gt;</a>
{{ card_end() }}
{% endblock %}

{% block right_col_content %}
{% if not custodesk.session.isLoggedIn() %}
{{ card_begin("Home") }}
    <p id="homeText">
        <b>CustoDesk</b> is a global community dedicated to desktop customization. Users can share resources
        and tutorials for desktop customization as well as screenshots of their customized desktops.
    </p>
    <span id="bigText">
        <a href="/register">Create an account</a> now!
    </span>
{{ card_end() }}
{% endif %}

{{ card_begin("Popular Posts of Today") }}
    {{ post() }}
    {{ post() }}
{{ card_end() }}

{{ card_begin("Recent Posts") }}
    {{ post() }}
    {{ post() }}
{{ card_end() }}
{% endblock %}